.row-widget button{
  justify-content: center;
  background-color: #0d6efd;
  color: white;
    border: none;
}

.row-widget button:hover{
  justify-content: center;
  background-color: #0d5cd1;
  color: white;
    border: none;
}

.stButton {
  text-align: right;
}

@media only screen and (max-width: 480px){
    
.menu .container-xxl[data-v-5af006b8] {
    background-color: yellow;
    border-radius: 0.5rem;
}
