/* USTAWIENIE PEŁNEJ SZEROKOŚCI NA STRONIE GŁÓWNEJ*/
.st-emotion-cache-z5fcl4 {
    padding: 0;
}

/*  [data-testid="element-container"] {
     width:50% !important;
     text-align:center;
 } */

[data-testid="stSelectbox"] {
     width:50% !important;
     text-align:center;
 }
    
