/* USTAWIENIE PEŁNEJ SZEROKOŚCI NA STRONIE GŁÓWNEJ*/
.st-emotion-cache-z5fcl4 {
    padding: 0;
}

[data-testid="element-container"], [data-baseweb="select"]  {
    text-align:center;
    background-color:red;
    max-width: 300px;
}

