.underline:after {
  content: "" !important;
  position: absolute !important;
  bottom: -2px !important;
  left: 0 !important;
  width: 100% !important;
  height: 8px !important;
  border-radius: 5px !important;
  background: #ffd200 !important;
  z-index: -1 !important;
}

